<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content = "IE-Edge">
        <meta name = "viewport" content  = "width=device-width, initial-scale = 1.0"> 
        <title>Hannah Roy Homework 5</title>

        <link rel="stylesheet" href="../public/css/resume_styles.css">

        <link rel="shortcut icon" href="../public/img/d20_favicon.jpg" type="image/x-icon">
        <script src="https://kit.fontawesome.com/a9c3ea6bcb.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <h3>CSI 2520 HW5</h3>
            <p>hroy@oakland.edu</p>
        </header>

        <nav>
            <h1>Resume</h1>
            <li class = "nav_btn"><a href = "/trivia"> Trivia </a> </li>
            <li class = "nav_btn"><a href = "/my_fun_facts"> Fun Facts </a> </li>
            <li class = "nav_btn"><a class = "active"href = "/my_resume"> Resume </a> </li>
            <li class = "nav_btn"><a href = "/"> Home </a></li>
        </nav>

        <section class = "objective">
            <h3>
                Objective
            </h3>
            <p>
                Complete a Bachelor's Degree in Information Technology with a minor in Graphic Design
            </p>
        </section>

        <section class = "professional">
            <h3>Professional Experience</h3>
            <section>
                <h4>Start date -- End Date, Job Role, Company Name, Location</h4>
                <ul>
                    <li>2021--Present, Backup/Assistant, AR Workshop, MI.</li>
                    <li>&Tab;When necessary, I assist with preparing and editing projects for classes.<li>
                </ul>
            </section>
        </section>

        <section class = "educational">
            <h3>Educational Experience</h3>
            <table id = "education" border = "1">
                <tr>
                    <th>Start--End</th>
                    <th>Degree</th>
                </tr>
                <tr>
                    <td>2015--2019</td>
                    <td>High School Diploma and Early College Program<br>
                    Oxford High School and WCC</td>
                </tr>
                <tr>
                    <td>2019-2023</td>
                    <td>B.S. Information Technology, minor in Graphic Design<br>
                    Oakland University</td>
                </tr>
            </table>
        </section>

        <section class = "extracurricular">
            <h3>Extracurriculars and Hobbies</h3>
            <p>I am a digital artist and I enjoy drawing environments and character art. I also enjoy Krav Maga,
                writing, watching TV, and playing video games.
            </p>
        </section>

        <footer class = "footer">
            <!-- <hr> -->
            <div class = "icon">
                <a href = "mailto:hroy@oakland.edu" aria-label = "Email Icon">
                    <i class="fa-solid fa-square-envelope fa-xl"></i></a>
            </div>
            <div class = "copy">
                &copy; 2021 Hannah Roy<br>
                <p>Oakland University</p>
            </div>
            <!-- <hr> -->
        </footer>
    </body>
</html>