<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hannah Roy Homework 5</title>

    <link rel="stylesheet" href="../../public/css/trivia_styles.css">

    <link rel="shortcut icon" href="../../public/img/d20_favicon.jpg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a9c3ea6bcb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h2>CSI 2520 HW5</h2>
    </header>

    <nav>
        <h1>Trivia</h1>
        <li class = "nav_btn"><a class = "active" href = "trivia"> Trivia </a> </li>
        <li class = "nav_btn"><a href = "my_fun_facts"> Fun Facts </a> </li>
        <li class = "nav_btn"><a href = "my_resume"> Resume </a> </li>
        <li class = "nav_btn"><a href = "/"> Home </a></li>
    </nav>

    <!-- Create Trivia Questions and Forms -->
    <div class = "trivia_container">
        <h3>Question 1: Which Rogue subclass was introduced in the Sword Coast Adventurer's Guide?</h3>
        <div class = "question_form_container">
            <form
                action = "/answerq1/"
                method = "post"
                id = "form_question1"
            >
                <!-- Answer Options: -->
                <h4>A. Thief B. Arcane Trickster C. Swashbuckler D. Assassin</h4>
                <!-- User Inputs Answer -->
                <label for = "q1Input">Answer: </label>
                <input
                    type = "text"
                    placeholder="Type A, B, C, or D"
                    name = "q1Input"
                    id = "q1Input"
                >
                <input type="submit" value="Submit Answer" class = "submit">
            </form>
        </div>

        <h3>Question 2: What is a Warlock's Spellcasting Stat?</h3>
        <div class = "question_form_container">
            <form
                action = "/answerq2/"
                method = "post"
                id = "form_question2"
            >
                <!-- Answer Options: -->
                <h4>A. Charisma B. Intelligence C. Wisdom D. Dexterity</h4>
                <!-- User Inputs Answer -->
                <label for = "q2Input">Answer: </label>
                <input
                    type = "text"
                    placeholder="Type A, B, C, or D"
                    name = "q2Input"
                    id = "q2Input"
                >
                <input type="submit" value="Submit Answer" class = "submit">
            </form>
        </div>

        <h3>Question 3: What is the Strongest Enemy in D&D 5e?</h3>
        <div class = "question_form_container">
            <form
                action = "/answerq3/"
                method = "post"
                id = "form_question3"
            >
                <!-- Answer Options: -->
                <h4>A. Tiamat B. Tarrasque C. Dracolich D. Gnoll</h4>
                <!-- User Inputs Answer -->
                <label for = "q3Input">Answer: </label>
                <input
                    type = "text"
                    placeholder="Type A, B, C, or D"
                    name = "q3Input"
                    id = "q3Input"
                >
                <input type="submit" value="Submit Answer" class = "submit">
            </form>
        </div>

        <h3>Question 4: What is the Highest Level Rogue Class Feature?</h3>
        <div class = "question_form_container">
            <form
                action = "/answerq4/"
                method = "post"
                id = "form_question4"
            >
                <!-- Answer Options: -->
                <h4>A. Sneak Attack B. Evasion C. Reliable Talent D. Stroke of Luck</h4>
                <!-- User Inputs Answer -->
                <label for = "q4Input">Answer: </label>
                <input
                    type = "text"
                    placeholder="Type A, B, C, or D"
                    name = "q4Input"
                    id = "q4Input"
                >
                <input type="submit" value="Submit Answer" class = "submit">
            </form>
        </div>

        <h3>Question 5: Which Bard Cantrip Deals Psychic Damage?</h3>
        <div class = "question_form_container">
            <form
                action = "/answerq5/"
                method = "post"
                id = "form_question5"
            >
                <!-- Answer Options: -->
                <h4>A. Blade Ward B. Dancing Lights C. Vicious Mockery D. Minor Illusion</h4>
                <!-- User Inputs Answer -->
                <label for = "q5Input">Answer: </label>
                <input
                    type = "text"
                    placeholder="Type A, B, C, or D"
                    name = "q5Input"
                    id = "q5Input"
                >
                <input type="submit" value="Submit Answer" class = "submit">
            </form>
        </div>
    </div>

    <!-- readData: User can request to see their score -->
    <!-- <a href = "../readData.ejs">See Your Final Score</a> -->
    <form
        action = "/finalscore/"
        method = "post"
        id = "view_final_score">
        <input type="submit" value="View Score" class = "submit">
    </form>
    

    <footer class = "footer">
        <div class = "icon">
            <a href = "mailto:hroy@oakland.edu" aria-label = "Email Icon">
                <i class="fa-solid fa-square-envelope fa-xl"></i></a>
        </div>
        <div class = "copy">
            &copy; 2021 Hannah Roy<br>
            <p>Oakland University</p>
        </div>
    </footer>
</body>
</html>